body {
    background: #f6f7f9;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial;
    margin: 0;
}

.app-container {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 30px;
}

.title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    height: 150px;
    border-radius: 12px;
    border: 1px solid #ccc;
    padding: 15px;
    background: white;
    margin-bottom: 15px;
}

.analyze-btn {
    width: 100%;
    padding: 14px;
    background: #007aff;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;
}

.card {
    background: white;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.vibe-value {
    font-size: 40px;
    text-align: center;
    color: #007aff;
}

.vibe-bar {
    width: 100%;
    height: 12px;
    background: #eee;
    border-radius: 20px;
    overflow: hidden;
}

#vibeFill {
    height: 100%;
    width: 0%;
    background: #007aff;
    transition: 0.4s;
}

.toxicity-text {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.compare-box {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.chat-preview {
    background: #e5e5ea;
    border-radius: 20px;
    padding: 15px;
    max-height: 240px;
    overflow-y: auto;
}

.bubble {
    padding: 10px 14px;
    border-radius: 18px;
    margin-bottom: 10px;
    max-width: 70%;
}

.left {
    background: white;
    color: black;
}

.right {
    background: #007aff;
    color: white;
    margin-left: auto;
}

.bubble-toxic {
    border: 2px solid red;
    background: #ffe3e3 !important;
    color: #7a0000 !important;
}

.summary-text {
    font-size: 16px;
    color: #444;
}
